
<% if @list.errors.any? %>
<h4 style="color: red;"><%= @list.errors.full_messages.to_sentence %></h4>

<% end %>

<p>Make a new List!</p>

<%= form_for @list do |f|%>
  <br>
  <%= f.label :title %>
    <%= f.text_field :title %>
    </br>
    <br>
    
     <%# = f.collection_check_boxes :item_ids, @items, :id, :name %>
    </br>
    <%= f.fields_for :list_items, @list.list_items do |item_field|%>
   
      <br>
      <%= item_field.hidden_field :item_id  %>
      <%= item_field.object.item.name %>
     
      <%= item_field.label  :quantity %>
      <%= item_field.number_field :quantity, min:1 %>
      </br>
      <% end %>
</br>
      
      
    <%= f.submit %>
  <% end %>

