
<h1> Show Item </h1>

<h2><%= @list.user.username %> - <%= @list.id %></h2>
<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %> - <%= item.price %></li>
  <% end %>
</ul>

<% if @list.user == user_signed_in? %>
<%= link_to "delete list", list_path(@list) %>
  
  <% end %>
