
<h1> List Items</h1>
<% if @list.user.id == current_user.id %>
<h2><%= @list.user.username %> - <%= @list.id %></h2>
<ul>
  <% @list.items.each do |item| %>
    <li><%= item.name %> - <%= item.price %></li>  
  <% end %>
</ul>

<%= link_to  "Item Details", list_items_path(@list) %>


</br>

<%= link_to "Add/create new Item", new_list_item_path(@list) %>
</br>

    <%= link_to "Edit list", edit_list_path(@list) %>
    </br>
    <%= link_to "delete list", list_path(@list), method: :delete %>
    </br>
    <%= link_to "back", lists_path(@list) %>
    </br>
    <% end %>
    
