<% if @item.errors.any? %>
<h4 style="color: red;"><%= @item.errors.full_messages.to_sentence %></h4>

<% end %>



<h1>Create an Item</h1>

<%= form_for [@list, @item] do |f|%>
  <br>
  <%= f.label :name %>
    <%= f.text_field :name %>
    </br>
    <br>
    <%= f.label :brand %>
    <%= f.text_field :brand %>
    </br>
    <%= f.label :description %>
    <%= f.text_field :description %>
   
      <br>
    <%= f.label :price %>
    <%= f.number_field :price %>
      </br>
     

     
    <%= f.submit %>
  <% end %>
